    <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        INFORMATION
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Sistem Informasi Barang Hilang</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        FILTER
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-found' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Found<i class="fas fa-box"></i></h4>
                                        <h3>{{ found_counter }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-lost' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Lost <i class="fas fa-box"></i></h4>
                                        <h3>{{ lost_counter }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-solved' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Solved<i class="fas fa-box"></i></h4>
                                        <h3>{{ solved_counter }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->