{% extends 'partials/base.html' %}
{% block title %} Found Page {% endblock %} 
{% load crispy_forms_tags %}
{% block content %} 
{% include 'partials/topnav.html' %}

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class = "alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border bg-white p-3">
                    <h4>Buat Laporan</h4>
                    <hr>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Buat Laporan">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Nama Barang</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Lokasi</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Kontak</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.barang_id.nama_barang }}</td>
                            <td>{{ item.tgl_laporan }}</td>
                            <td>{{ item.lokasi }}</td>
                            <td>{{ item.barang_id.jenis_barang }}</td>
                            <td>{{ item.user_id.account_profile.no_telp }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-laporan-detail' item.id %}">Detail</a>
                                {% if user.id == item.user_id.id or user.is_superuser %}
                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard-laporan-solve' item.id %}">Tutup</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}