{% extends 'partials/base.html' %}
{% block title %} Found Page {% endblock %} 
{% block content %} 
{% include 'partials/topnav.html' %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Category</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>

                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Nama Barang</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Lokasi</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Kontak</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.barang_id.nama_barang }}</td>
                            <td>{{ item.tgl_laporan }}</td>
                            <td>{{ item.lokasi }}</td>
                            <td>{{ item.barang_id.jenis_barang }}</td>
                            <td>{{ item.user_id.username }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}