{% extends 'partials/base.html' %}

{% block title %} Solved Case {% endblock %} 
{% block content %} 
{% include 'partials/topnav.html' %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-8">

            </div>
            <div class="col-md-12">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Tanggal</th>
                            <th scope="col">Nama Barang</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Pelapor</th>
                            <th scope="col">Kontak</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.tgl_laporan }}</td>
                            <td>{{ item.barang_id.nama_barang }}</td>
                            <td>{{ item.barang_id.jenis_barang }}</td>
                            <td>{{ item.user_id.username }}</td>
                            <td>{{ item.user_id.account_profile.no_telp }}</td>
                            <td>{{ item.status }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-laporan-detail' item.id %}">Detail</a>    
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--End Table-->
{% endblock %}