{% load crispy_forms_tags %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-8">
        
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Orders Records
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>10</td>
                            </tr>
							<tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>10</td>
                            </tr>
							<tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>10</td>
                            </tr>
							<tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>10</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>